{minimum_otp_vsn, "22.0"}.

{erl_opts, [debug_info]}.


{deps, []}.

{shell, [
         {apps, [uuidv4]}
]}.

{edoc_opts, [{dir, "docs"}, {preprocess, true}]}.

{project_plugins, [{rebar3_lint, "0.1.11"}]}.

{cover_enabled, true}.
{cover_export_enabled, true}.

%% xref configurations
{xref_checks,[undefined_function_calls, undefined_functions,
              deprecated_function_calls, deprecated_functions]}.
